<html>
    <head>
        {% if title%}
        <title>{{title}}- say, sell</title>
        {% else %}
        <title>Welcome to Pitch View!</title>
        {% endif %}
    </head>

    <body>
        <!-- navigation bar -->
        <div>PitchView:
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('login') }}">Login</a>
        </div>
        <!-- end navigation -->
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}        
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>