{% extends "base.html" %}

{% block content %}
    <h1>Pitch It </h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>{{ form.category.label }}<br></p>
        <select name="category" id="">
            <option value="Inteview">Interview </option>
            <option value="Pickup">Pick Up Lines</option>
            <option value="promotion">Promotion</option>
        </select>
        <p>
            <!-- {{ form.category.label }}<br> -->
            {% for error in form.category.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            <!-- {{ form.body.label }}<br> -->
            {{ form.body(cols=50, rows=4) }}<br>
            {% for error in form.body.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}